<footer class="py-4 bg-light mt-auto fix-down">
    <div class="container-fluid">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Cadastro Cliente 2021</div>
            <div>
                <a href="https://fernandoibaepliborio.github.io/profile.github.io/views/#portfolio">@Libório &amp; portfolio</a>
                &middot;
                <a href="https://github.com/FernandoIbaePLiborio"> github &amp; repo</a>
            </div>
        </div>
    </div>
</footer>