<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Consulta</li>
</ol>
<div class="container-fluid" >
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-warning" (click)="cadastro()" >
                <i class="fa fa-plus"></i> Novo
            </button>

        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let cliente of clientes">
                        <td>{{ cliente.nome }}</td>
                        <td>{{ cliente.cpf | mask: '000.000.000-00' }}</td>
                        <td>{{ (cliente.telefone.length > 10) ? 
                                (cliente.telefone | mask: '(00) 00000-0000') : 
                                (cliente.telefone | mask: '(00) 0000-0000') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>